.banner{
    background: url('./images/food.jpg');
    background-size: cover;
    background-position: center;
    min-height: 200px;
}

.form-inline .form-control { 
    display: inline-block !important; 
    width: auto!important
}